* {
    box-sizing: border-box;
  }
  
  .App {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    flex-direction: row;
  }
  
  .view1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    width: 90vw;
  }
  
  .view2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    width: 25%;
  }
  
  .introbox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
  
  .votesbox{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: top;
    width:100%;
  }
  
  .chart {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 80%;
  }
  
  .votescount {
    background-color: dodgerblue;
    padding: 10px;
    flex: 20%;
    max-height: 90px;
  }
  
  .sliderbox {
    width: 100%;
    align-items: left;
  }
  
  .slider {
    margin-top: 15px;
    width: 85vw;
    padding: 10px;
  }

  .slider_position{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    opacity: .7;
  }